@font-face{
    font-family: "PublicSans";
    src: url(../recursos/fuentes/PublicSans-Regular.ttf);

    font-family: "PublicSans Bold";
    src: url(../recursos/fuentes/PublicSans-Bold.ttf);


}

body{
    font-family: "PublicSans";
    color: #fff;
}

h1,h2,h3,h4{
    font-family: "PublicSans Bold";
}

header{
    top: 0px;
    padding-top: 50px;
    padding-bottom: 75px;
    background: linear-gradient(90deg, #394A6D 50%, #52DE97 50%);
}

.main{
    text-align: center;
    margin-bottom: 75px;
}

.main img{
    margin-top: 25px;
    margin-bottom: 25px;
}


.item-main{
    display: flex;
    align-items: center;
    padding-left: 40px;
    margin-bottom: 15px;
}

.iconmain{
    display: block;
    max-width: 128px;
    max-height: 128px;
    min-width: 64px;
    min-height: 64px;
    background-color: #3C9D9B;
    border: none;
    border-radius: 50%;
    float: left;
    margin-right: 15px;;
}

.iconmain-in{
    max-width: 32px;
    max-height: 32px;
    min-width: 16px;
    min-height: 16px;
    margin: 25% 
}

section{
    padding-top: 80px;
    padding-bottom: 80px;
}

.about-me{
    background: #394A6D;
    text-align: center;
}

section h2{
    display: inline-block;
    position: relative;
}

section h2::after,h2::before{
    content: "";
    position: absolute;
    width: 50px;
    height: 3px;
    background-color: #52DE97;
    bottom: -10px;
}

section h2::after{
    left: 50%;  
}
section h2::before{
    right: 50%;
}

.about-me .content{
    display: inline-block;
    max-width: 75%;
}

.about-me .content p{
    font-size: large;
    text-align: left;
    padding-top: 25px;
    padding-bottom: 25px;
}

.about-me .content .group_buttons{
    float: right;
}

.button{
    max-width: 350px;
    max-height: 125px;
    min-width: 150px;
    min-height: 50px;
    border: solid #52DE97;
    border-radius: 7px;;
    box-shadow: 0px 0px 7px rgba(82, 222, 151, 0.5);
    margin: 5px 15px;
    font-family: "PublicSans Bold";
    color: #fff;
}

.button_primary{
    background-color: #52DE97;
    
}

.button_secondary{
    background-color: rgba(0,0,0,0);
}

.services{
    background: #435374;
    text-align: center;
}

.services .content{
    display: inline-block;
    max-width: 75%;
}

.content p{
    text-align: left;
    font-size: large;
    padding-top: 25px;
    padding-bottom: 25px;
}

.card-services{
    
}

.card{
    
    display: flex;
    align-items: center;
    background: transparent;
    border: none;
    margin: 10px 0;
}


.card-background{
    width: 300px;
    height: 300px;
    border-radius: 10px;
}

.img-game{
    background-image: url(../recursos/imagenes/videojuego.jpg);
    background-size: cover;
}

.img-web{
    background-image: url(../recursos/imagenes/web.jpeg);
    background-size: cover;
}

.img-desktop{
    background-image: url(../recursos/imagenes/desktop.jpg);
    background-size: cover;
}

.img-team{
    background-image: url(../recursos/imagenes/reunion.jpg);
    background-size: cover;
}

.card-front{
    width: 300px;
    height: 300px;
    border-radius: 10px;
    background: rgba(82, 222, 151, 75%);
    padding: 10px 0;
}

.card-front figure{
    padding: 15px 0;
    margin: 0;
}

.card-front p{
    display: inline-block;
    text-align: left;
    padding: 0 15px;
}